extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Option Picker'

block script
  script
    | const picker = new OptionPicker(document.querySelector('select'));

block style
  style
    | .option-picker__options {
    |   background: #fff;
    | }

block content
  main
    form(method='get' target='_blank')
      p
        select(name='test')
          option 0
          optgroup(label!='1 &ndash; 10')
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
          optgroup(label!='11 &ndash; 20')
            option 11
            option 12
            option 13
            option 14
            option 15
            option 16
            option 17
            option 18
            option 19
            option 20
          optgroup(label!='21 &ndash; 30')
            option 21
            option 22
            option 23
            option 24
            option 25
            option 26
            option 27
            option 28
            option 29
            option 30
          optgroup(label!='31 &ndash; 40')
            option 31
            option 32
            option 33
            option 34
            option 35
            option 36
            option 37
            option 38
            option 39
            option 40
          optgroup(label!='41 &ndash; 50')
            option 41
            option 42
            option 43
            option 44
            option 45
            option 46
            option 47
            option 48
            option 49
            option 50
          option &infin;
      p
        button(type='submit') Submit