extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Option Picker'

block script
  script
    | const log = document.querySelector('code');
    | const picker = new OptionPicker(document.querySelector('select'));
    |
    | // <https://stackoverflow.com/a/16348977/1163000>
    | function stringToColor(s) {
    |     let hash = 0, r = '#';
    |     for (let i = 0, j = s.length; i < j; ++i) {
    |         hash = s.charCodeAt(i) + ((hash << 5) - hash);
    |     }
    |     for (let i = 0; i < 3; ++i) {
    |         r += ('00' + ((hash >> (i * 8)) & 0xFF).toString(16)).substr(-2);
    |     }
    |     return r;
    | }
    |
    | let now;
    |
    | [
    |     'blur',
    |     'blur.self',
    |     'change',
    |     'enter',
    |     'exit',
    |     'fit',
    |     'focus',
    |     'focus.option',
    |     'focus.self',
    |     'focus.text',
    |     'has.option',
    |     'let.active',
    |     'let.fix',
    |     'let.max',
    |     'let.min',
    |     'let.option',
    |     'let.options',
    |     'let.size',
    |     'let.text',
    |     'let.value',
    |     'load',
    |     'max.options',
    |     'min.options',
    |     'not.option',
    |     'reset',
    |     'search',
    |     'set.active',
    |     'set.fix',
    |     'set.max',
    |     'set.min',
    |     'set.option',
    |     'set.options',
    |     'set.size',
    |     'set.text',
    |     'set.value',
    |     'submit'
    |     // 'click',
    | ].forEach(v => picker.on(v, (function () {
    |     return function (e, ...lot) {
    |         let note = document.createElement('span'),
    |             s = (new Date).getSeconds();
    |         note.style.color = stringToColor(v);
    |         note.style.display = 'block';
    |         if (now !== s) {
    |             log.prepend(document.createElement('hr'));
    |             now = s;
    |         }
    |         note.textContent = '↑↑↑ [' + v + ']: ' + JSON.stringify(lot) + ' ' + (e ? '@' + e.type : "");
    |         log.prepend(note);
    |     }
    | })(v)));

block style
  style
    | code {
    |   background: #000;
    |   color: #fff;
    |   display: block;
    |   font-size: 150%;
    |   line-height: 1.25em;
    |   padding: 0.25em;
    |   text-shadow: 0 0 0 #fff;
    | }
    | code hr {
    |   border: 0;
    |   border-top: 1px dotted;
    |   margin: 0.25em 0;
    |   padding: 0;
    | }
    | code hr:last-child {
    |   display: none;
    | }
    | .option-picker__options {
    |   background: #fff;
    | }

block content
  main
    form(method='get' target='_blank')
      p
        select(name='test')
          option Option 1
          option(selected) Option 2
          option Option 3
      p
        button(onclick='picker.options = [\'#1\', \'#2\'];' type='button') Set Options
        = ' '
        button(onclick='picker.options.set(\'#3\');' type='button') Set Option
        = ' '
        button(onclick='picker.options.let(\'#3\');' type='button') Let Option
        = ' '
        button(onclick='picker.options.let();' type='button') Let Options
        = ' '
        button(onclick='picker.active = !picker.active;' type='button') Disable/Enable
      p
        button(type='submit') Submit
        = ' '
        button(type='reset') Reset
    pre: code