extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Option Picker'

block script
  script
    | document.querySelectorAll('input').forEach(input => {
    |     let picker = new OptionPicker(input);
    |     picker.on('change', (e, v) => console.log(['change', v]));
    |     picker.on('search', (e, v) => console.log(['search', v]));
    | });

block style
  style
    | .option-picker {
    |   min-width: 10em;
    | }
    | .option-picker__options {
    |   background: #fff;
    | }

block content
  main
    form(method='get' target='_blank')
      p
        input(list='colors' name='color' placeholder='Select a color…' type='text' value='Blue')
      p
        button(type='submit') Submit
  datalist#colors
    option(value='#0048ba') Absolute Zero
    option(value='#b0bf1a') Acid Green
    option(value='#7cb9e8') Aero
    option(value='#c9ffe5') Aero Blue
    option(value='#b284be') African Violet
    option(value='#5d8aa8') Rackley
    option(value='#00308f') Air Force Blue (USAF)
    option(value='#72a0c1') Air Superiority Blue
    option(value='#af002a') Alabama Crimson
    option(value='#f2f0e6') Alabaster
    option(value='#f0f8ff') Alice Blue
    option(value='#84de02') Alien Armpit
    option(value='#e32636') Rose Madder
    option(value='#c46210') Alloy Orange
    option(value='#efdecd') Almond
    option(value='#e52b50') Amaranth
    option(value='#9f2b68') Amaranth Deep Purple
    option(value='#f19cbb') Amaranth Pink
    option(value='#ab274f') Amaranth Purple
    option(value='#d3212d') Amaranth Red
    option(value='#3b7a57') Amazon Store
    option(value='#00c4b0') Amazonite
    option(value='#ffbf00') Fluorescent Orange
    option(value='#ff7e00') Amber (SAE/ECE)
    option(value='#ff033e') American Rose
    option(value='#9966cc') Amethyst
    option(value='#a4c639') Android Green
    option(value='#f2f3f4') Anti-Flash White
    option(value='#cd9575') Antique Brass
    option(value='#665d1e') Antique Bronze
    option(value='#915c83') Antique Fuchsia
    option(value='#841b2d') Antique Ruby
    option(value='#faebd7') Moccasin
    option(value='#008000') Office Green
    option(value='#8db600') Apple Green
    option(value='#fbceb1') Apricot
    option(value='#00ffff') Spanish Sky Blue
    option(value='#7fffd4') Aquamarine
    option(value='#d0ff14') Arctic Lime
    option(value='#4b5320') Army Green
    option(value='#3b444b') Arsenic
    option(value='#8f9779') Artichoke
    option(value='#e9d66b') Hansa Yellow
    option(value='#b2beb5') Ash Gray
    option(value='#87a96b') Asparagus
    option(value='#ff9966') Pink-Orange
    option(value='#a52a2a') Red-Brown
    option(value='#fdee00') Aureolin
    option(value='#6e7f80') AuroMetalSaurus
    option(value='#568203') Avocado
    option(value='#ff2052') Awesome
    option(value='#c39953') Aztec Gold
    option(value='#007fff') Azure
    option(value='#f0ffff') Azure Mist
    option(value='#dbe9f4') Azureish White
    option(value='#89cff0') Baby Blue
    option(value='#a1caf1') Baby Blue Eyes
    option(value='#f4c2c2') Tea Rose
    option(value='#fefefa') Baby Powder
    option(value='#ff91af') Schauss Pink
    option(value='#21abcd') Ball Blue
    option(value='#fae7b5') Banana Mania
    option(value='#ffe135') Banana Yellow
    option(value='#006a4e') Bottle Green
    option(value='#e0218a') Barbie Pink
    option(value='#7c0a02') Barn Red
    option(value='#1dacd6') Bright Cerulean
    option(value='#848482') Old Silver
    option(value='#98777b') Bazaar
    option(value='#bcd4e6') Pale Aqua
    option(value='#9f8170') Beaver
    option(value='#fa6e79') Begonia
    option(value='#f5f5dc') Beige
    option(value='#2e5894') B'dazzled Blue
    option(value='#9c2542') Big Dip O'ruby
    option(value='#e88e5a') Big Foot Feet
    option(value='#ffe4c4') Bisque
    option(value='#3d2b1f') Bistre
    option(value='#967117') Sandy Taupe
    option(value='#cae00d') Bitter Lemon
    option(value='#bfff00') Lime (Color Wheel)
    option(value='#fe6f5e') Bittersweet
    option(value='#bf4f51') Bittersweet Shimmer
    option(value='#000000') Registration Black
    option(value='#3d0c02') Black Bean
    option(value='#54626f') Black Coral
    option(value='#253529') Black Leather Jacket
    option(value='#3b3c36') Black Olive
    option(value='#bfafb2') Black Shadows
    option(value='#ffebcd') Blanched Almond
    option(value='#a57164') Blast-Off Bronze
    option(value='#318ce7') Bleu De France
    option(value='#ace5ee') Blue Lagoon
    option(value='#faf0be') Blond
    option(value='#0000ff') Blue
    option(value='#1f75fe') Blue (Crayola)
    option(value='#0093af') Blue (Munsell)
    option(value='#0087bd') Blue (NCS)
    option(value='#0018a8') Blue (Pantone)
    option(value='#333399') Blue (Pigment)
    option(value='#0247fe') Blue (RYB)
    option(value='#a2a2d0') Blue Bell
    option(value='#00b9fb') Blue Bolt
    option(value='#6699cc') Livid
    option(value='#0d98ba') Blue-Green
    option(value='#5dadec') Blue Jeans
    option(value='#553592') Blue-Magenta Violet
    option(value='#126180') Blue Sapphire
    option(value='#8a2be2') Blue-Violet
    option(value='#5072a7') Blue Yonder
    option(value='#4f86f7') Blueberry
    option(value='#1c1cf0') Bluebonnet
    option(value='#de5d83') Blush
    option(value='#79443b') Medium Tuscan Red
    option(value='#0095b6') Bondi Blue
    option(value='#e3dac9') Bone
    option(value='#dde26a') Booger Buster
    option(value='#cc0000') Boston University Red
    option(value='#873260') Boysenberry
    option(value='#0070ff') Brandeis Blue
    option(value='#b5a642') Brass
    option(value='#cb4154') Brick Red
    option(value='#66ff00') Bright Green
    option(value='#bf94e4') Bright Lavender
    option(value='#d891ef') Bright Lilac
    option(value='#c32148') Maroon (Crayola)
    option(value='#1974d2') Bright Navy Blue
    option(value='#ff007f') Rose
    option(value='#08e8de') Bright Turquoise
    option(value='#d19fe8') Bright Ube
    option(value='#ffaa1d') Bright Yellow (Crayola)
    option(value='#3399ff') Brilliant Azure
    option(value='#f4bbff') Electric Lavender
    option(value='#ff55a3') Magenta (Crayola)
    option(value='#fb607f') Brink Pink
    option(value='#004225') British Racing Green
    option(value='#cd7f32') Bronze
    option(value='#737000') Bronze Yellow
    option(value='#964b00') Brown (Traditional)
    option(value='#6b4423') Kobicha
    option(value='#af6e4d') Brown Sugar
    option(value='#cc9966') Brown Yellow
    option(value='#1b4d3e') English Green
    option(value='#ffc1cc') Bubble Gum
    option(value='#e7feff') Bubbles
    option(value='#7bb661') Bud Green
    option(value='#f0dc82') Buff
    option(value='#480607') Bulgarian Rose
    option(value='#800020') Burgundy
    option(value='#deb887') Burlywood
    option(value='#a17a74') Burnished Brown
    option(value='#cc5500') Burnt Orange
    option(value='#e97451') Light Red Ochre
    option(value='#8a3324') Burnt Umber
    option(value='#24a0ed') Button Blue
    option(value='#bd33a4') Byzantine
    option(value='#702963') Byzantium
    option(value='#536872') Cadet
    option(value='#5f9ea0') Cadet Blue
    option(value='#91a3b0') Cadet Grey
    option(value='#006b3c') Cadmium Green
    option(value='#ed872d') Cadmium Orange
    option(value='#e30022') Cadmium Red
    option(value='#fff600') Cadmium Yellow
    option(value='#a67b5b') Tuscan Tan
    option(value='#4b3621') Cafe Noir
    option(value='#1e4d2b') Cal Poly Pomona Green
    option(value='#a3c1ad') Cambridge Blue
    option(value='#c19a6b') Wood Brown
    option(value='#efbbcc') Cameo Pink
    option(value='#78866b') Camouflage Green
    option(value='#ffff99') Canary
    option(value='#ffef00') Yellow (Process)
    option(value='#ff0800') Candy Apple Red
    option(value='#e4717a') Tango Pink
    option(value='#00bfff') Deep Sky Blue
    option(value='#592720') Caput Mortuum
    option(value='#c41e3a') Cardinal
    option(value='#00cc99') Caribbean Green
    option(value='#960018') Heidelberg Red
    option(value='#d70040') Rich Carmine
    option(value='#eb4c42') Carmine Pink
    option(value='#ff0038') Carmine Red
    option(value='#ffa6c9') Carnation Pink
    option(value='#b31b1b') Cornell Red
    option(value='#56a0d3') Carolina Blue
    option(value='#ed9121') Carrot Orange
    option(value='#00563f') Sacramento State Green
    option(value='#062a78') Catalina Blue
    option(value='#703642') Catawba
    option(value='#c95a49') Cedar Chest
    option(value='#92a1cf') Ceil
    option(value='#ace1af') Celadon
    option(value='#007ba7') Cerulean
    option(value='#2f847c') Celadon Green
    option(value='#b2ffff') Italian Sky Blue
    option(value='#4997d0') Celestial Blue
    option(value='#de3163') Cherry
    option(value='#ec3b83') Cerise Pink
    option(value='#2a52be') Cerulean Blue
    option(value='#6d9bc3') Cerulean Frost
    option(value='#007aa5') CG Blue
    option(value='#e03c31') CG Red
    option(value='#a0785a') Chamoisee
    option(value='#f7e7ce') Champagne
    option(value='#f1ddcf') Champagne Pink
    option(value='#36454f') Charcoal
    option(value='#232b2b') Charleston Green
    option(value='#e68fac') Light Thulian Pink
    option(value='#dfff00') Chartreuse (Traditional)
    option(value='#7fff00') Chartreuse (Web)
    option(value='#ffb7c5') Cherry Blossom Pink
    option(value='#954535') Chestnut
    option(value='#de6fa1') Thulian Pink
    option(value='#a8516e') China Rose
    option(value='#aa381e') Chinese Red
    option(value='#856088') Chinese Violet
    option(value='#4aff00') Chlorophyll Green
    option(value='#7b3f00') Chocolate (Traditional)
    option(value='#d2691e') Cocoa Brown
    option(value='#ffa700') Chrome Yellow
    option(value='#98817b') Cinereous
    option(value='#e34234') Vermilion
    option(value='#cd607e') Cinnamon Satin
    option(value='#e4d00a') Citrine
    option(value='#9fa91f') Citron
    option(value='#7f1734') Claret
    option(value='#fbcce7') Classic Rose
    option(value='#0047ab') Cobalt Blue
    option(value='#965a3e') Coconut
    option(value='#6f4e37') Tuscan Brown
    option(value='#c4d8e2') Columbia Blue
    option(value='#f88379') Tea Rose
    option(value='#002e63') Cool Black
    option(value='#8c92ac') Gray-Blue
    option(value='#b87333') Copper
    option(value='#da8a67') Pale Copper
    option(value='#ad6f69') Copper Penny
    option(value='#cb6d51') Copper Red
    option(value='#996666') Copper Rose
    option(value='#ff3800') Coquelicot
    option(value='#ff7f50') Coral
    option(value='#ff4040') Coral Red
    option(value='#fd7c6e') Coral Reef
    option(value='#893f45') Cordovan
    option(value='#fbec5d') Maize
    option(value='#6495ed') Cornflower Blue
    option(value='#fff8dc') Cornsilk
    option(value='#2e2d88') Cosmic Cobalt
    option(value='#fff8e7') Cosmic Latte
    option(value='#81613c') Coyote Brown
    option(value='#ffbcd9') Cotton Candy
    option(value='#fffdd0') Cream
    option(value='#dc143c') Crimson
    option(value='#be0032') Crimson Glory
    option(value='#990000') USC Cardinal
    option(value='#f5f5f5') White Smoke
    option(value='#4e82b4') Cyan Azure
    option(value='#4682bf') Cyan-Blue Azure
    option(value='#28589c') Cyan Cobalt Blue
    option(value='#188bc2') Cyan Cornflower Blue
    option(value='#00b7eb') Cyan (Process)
    option(value='#58427c') Cyber Grape
    option(value='#ffd300') Yellow (NCS)
    option(value='#f56fa1') Cyclamen
    option(value='#ffff31') Daffodil
    option(value='#f0e130') Dandelion
    option(value='#00008b') Dark Blue
    option(value='#666699') Dark Blue-Gray
    option(value='#654321') Otter Brown
    option(value='#88654e') Dark Brown-Tangelo
    option(value='#5d3954') Dark Byzantium
    option(value='#a40000') Dark Candy Apple Red
    option(value='#08457e') Dark Cerulean
    option(value='#986960') Dark Chestnut
    option(value='#cd5b45') Dark Coral
    option(value='#008b8b') Dark Cyan
    option(value='#536878') Payne's Grey
    option(value='#b8860b') Dark Goldenrod
    option(value='#a9a9a9') Dark Medium Gray
    option(value='#013220') Dark Green
    option(value='#006400') Dark Green (X11)
    option(value='#1f262a') Dark Gunmetal
    option(value='#00416a') Dark Imperial Blue
    option(value='#00147e') Dark Imperial Blue
    option(value='#1a2421') Dark Jungle Green
    option(value='#bdb76b') Dark Khaki
    option(value='#483c32') Taupe
    option(value='#734f96') Dark Lavender
    option(value='#534b4f') Dark Liver
    option(value='#543d37') Dark Liver (Horses)
    option(value='#8b008b') Dark Magenta
    option(value='#003366') Dark Midnight Blue
    option(value='#4a5d23') Dark Moss Green
    option(value='#556b2f') Deep Spring Bud
    option(value='#ff8c00') Dark Orange
    option(value='#9932cc') Dark Orchid
    option(value='#779ecb') Dark Pastel Blue
    option(value='#03c03c') Dark Pastel Green
    option(value='#966fd6') Dark Pastel Purple
    option(value='#c23b22') Dark Pastel Red
    option(value='#e75480') Dark Pink
    option(value='#003399') Smalt (Dark Powder Blue)
    option(value='#4f3a3c') Dark Puce
    option(value='#301934') Dark Purple
    option(value='#872657') Dark Raspberry
    option(value='#8b0000') Dark Red
    option(value='#e9967a') Dark Salmon
    option(value='#560319') Dark Scarlet
    option(value='#8fbc8f') Dark Sea Green
    option(value='#3c1414') Dark Sienna
    option(value='#8cbed6') Dark Sky Blue
    option(value='#483d8b') Dark Slate Blue
    option(value='#2f4f4f') Dark Slate Gray
    option(value='#177245') Dark Spring Green
    option(value='#918151') Dark Tan
    option(value='#ffa812') Dark Tangerine
    option(value='#cc4e5c') Dark Terra Cotta
    option(value='#00ced1') Dark Turquoise
    option(value='#d1bea8') Dark Vanilla
    option(value='#9400d3') Dark Violet
    option(value='#9b870c') Dark Yellow
    option(value='#00703c') Dartmouth Green
    option(value='#555555') Davy's Grey
    option(value='#d70a53') Debian Red
    option(value='#40826d') Viridian
    option(value='#a9203e') Deep Carmine
    option(value='#ef3038') Deep Carmine Pink
    option(value='#e9692c') Deep Carrot Orange
    option(value='#da3287') Deep Cerise
    option(value='#fad6a5') Tuscan
    option(value='#b94e48') Deep Chestnut
    option(value='#704241') Roast Coffee
    option(value='#c154c1') Fuchsia (Crayola)
    option(value='#056608') Deep Green
    option(value='#0e7c61') Deep Green-Cyan Turquoise
    option(value='#004b49') Deep Jungle Green
    option(value='#333366') Deep Koamaru
    option(value='#f5c71a') Deep Lemon
    option(value='#9955bb') Deep Lilac
    option(value='#cc00cc') Deep Magenta
    option(value='#820000') Deep Maroon
    option(value='#d473d4') French Mauve
    option(value='#355e3b') Hunter Green
    option(value='#ffcba4') Peach
    option(value='#ff1493') Fluorescent Pink
    option(value='#a95c68') Deep Puce
    option(value='#850101') Deep Red
    option(value='#843f5b') Deep Ruby
    option(value='#ff9933') Deep Saffron
    option(value='#4a646c') Deep Space Sparkle
    option(value='#7e5e60') Deep Taupe
    option(value='#66424d') Deep Tuscan Red
    option(value='#330066') Deep Violet
    option(value='#ba8759') Deer
    option(value='#1560bd') Denim
    option(value='#2243b6') Denim Blue
    option(value='#669999') Desaturated Cyan
    option(value='#edc9af') Desert Sand
    option(value='#ea3c53') Desire
    option(value='#b9f2ff') Diamond
    option(value='#696969') Dim Gray
    option(value='#c53151') Dingy Dungeon
    option(value='#9b7653') Dirt
    option(value='#1e90ff') Dodger Blue
    option(value='#fef65b') Dodie Yellow
    option(value='#d71868') Dogwood Rose
    option(value='#85bb65') Dollar Bill
    option(value='#828e84') Mummy's Tomb
    option(value='#664c28') Donkey Brown
    option(value='#00009c') Duke Blue
    option(value='#e5ccc9') Dust Storm
    option(value='#efdfbb') Dutch White
    option(value='#e1a95f') Earth Yellow
    option(value='#555d50') Ebony
    option(value='#c2b280') Sand
    option(value='#1b1b1b') Eerie Black
    option(value='#614051') Eggplant
    option(value='#f0ead6') Eggshell
    option(value='#1034a6') Egyptian Blue
    option(value='#7df9ff') Electric Blue
    option(value='#ff003f') Electric Crimson
    option(value='#00ff00') Lime (Web) (X11 Green)
    option(value='#6f00ff') Electric Indigo
    option(value='#ccff00') Fluorescent Yellow
    option(value='#bf00ff') Electric Purple
    option(value='#3f00ff') Ultramarine
    option(value='#8f00ff') Violet
    option(value='#ffff33') Electric Yellow
    option(value='#50c878') Paris Green
    option(value='#6c3082') Eminence
    option(value='#b48395') English Lavender
    option(value='#ab4b52') English Red
    option(value='#cc474b') English Vermillion
    option(value='#563c5c') Old Heliotrope
    option(value='#96c8a2') Eton Blue
    option(value='#44d7a8') Eucalyptus
    option(value='#801818') Falu Red
    option(value='#b53389') Fandango
    option(value='#de5285') Fandango Pink
    option(value='#f400a1') Hollywood Cerise
    option(value='#e5aa70') Fawn
    option(value='#4d5d53') Feldgrau
    option(value='#fdd5b1') Light Apricot
    option(value='#4f7942') Fern Green
    option(value='#ff2800') Ferrari Red
    option(value='#6c541e') Field Drab
    option(value='#ff5470') Fiery Rose
    option(value='#b22222') Firebrick
    option(value='#ce2029') Fire Engine Red
    option(value='#e25822') Flame
    option(value='#fc8eac') Flamingo Pink
    option(value='#f7e98e') Flavescent
    option(value='#eedc82') Flax
    option(value='#a2006d') Flirt
    option(value='#fffaf0') Floral White
    option(value='#ff004f') Folly
    option(value='#014421') UP Forest Green
    option(value='#228b22') Forest Green (Web)
    option(value='#856d4d') French Bistre
    option(value='#0072bb') French Blue
    option(value='#fd3f92') French Fuchsia
    option(value='#86608e') Pomp And Power
    option(value='#9efd38') French Lime
    option(value='#fd6c9e') French Pink
    option(value='#811453') French Plum
    option(value='#4e1609') French Puce
    option(value='#c72c48') French Raspberry
    option(value='#f64a8a') French Rose
    option(value='#77b5fe') French Sky Blue
    option(value='#8806ce') French Violet
    option(value='#ac1e44') French Wine
    option(value='#a6e7ff') Fresh Air
    option(value='#e936a7') Frogert
    option(value='#ff00ff') Magenta
    option(value='#ff77ff') Fuchsia Pink
    option(value='#cc397b') Fuchsia Purple
    option(value='#c74375') Fuchsia Rose
    option(value='#e48400') Fulvous
    option(value='#cc6666') Fuzzy Wuzzy
    option(value='#dcdcdc') Gainsboro
    option(value='#e49b0f') Gamboge
    option(value='#996600') Gamboge Orange (Brown)
    option(value='#ffdf46') Gargoyle Gas
    option(value='#007f66') Generic Viridian
    option(value='#f8f8ff') Ghost White
    option(value='#b05c52') Giant's Club
    option(value='#fe5a1d') Giants Orange
    option(value='#b06500') Ginger
    option(value='#6082b6') Glaucous
    option(value='#e6e8fa') Glitter
    option(value='#ab92b3') Glossy Grape
    option(value='#00ab66') GO Green
    option(value='#d4af37') Gold (Metallic)
    option(value='#ffd700') Gold (Web) (Golden)
    option(value='#85754e') Gold Fusion
    option(value='#996515') Golden Brown
    option(value='#fcc200') Golden Poppy
    option(value='#ffdf00') Golden Yellow
    option(value='#daa520') Goldenrod
    option(value='#676767') Granite Gray
    option(value='#a8e4a0') Granny Smith Apple
    option(value='#6f2da8') Grape
    option(value='#808080') Trolley Grey
    option(value='#bebebe') Gray (X11 Gray)
    option(value='#465945') Gray-Asparagus
    option(value='#1cac78') Green (Crayola)
    option(value='#00a877') Green (Munsell)
    option(value='#009f6b') Green (NCS)
    option(value='#00ad43') Green (Pantone)
    option(value='#00a550') Green (Pigment)
    option(value='#66b032') Green (RYB)
    option(value='#1164b4') Green-Blue
    option(value='#009966') Green-Cyan
    option(value='#a7f432') Green Lizard
    option(value='#6eaea1') Green Sheen
    option(value='#adff2f') Green-Yellow
    option(value='#885818') Grizzly
    option(value='#a99a86') Grullo
    option(value='#00ff7f') Spring Green
    option(value='#2a3439') Gunmetal
    option(value='#663854') Halaya Ube
    option(value='#446ccf') Han Blue
    option(value='#5218fa') Han Purple
    option(value='#3fff00') Harlequin
    option(value='#46cb18') Harlequin Green
    option(value='#c90016') Harvard Crimson
    option(value='#da9100') Harvest Gold
    option(value='#808000') Olive
    option(value='#ff7a00') Heat Wave
    option(value='#df73ff') Heliotrope
    option(value='#aa98a9') Rose Quartz
    option(value='#aa00bb') Heliotrope Magenta
    option(value='#f0fff0') Honeydew
    option(value='#006db0') Honolulu Blue
    option(value='#49796b') Hooker's Green
    option(value='#ff1dce') Hot Magenta
    option(value='#ff69b4') Hot Pink
    option(value='#71a6d2') Iceberg
    option(value='#fcf75e') Icterine
    option(value='#71bc78') Iguana Green
    option(value='#319177') Illuminating Emerald
    option(value='#602f6b') Imperial
    option(value='#002395') Imperial Blue
    option(value='#66023c') Tyrian Purple
    option(value='#ed2939') Red (Pantone)
    option(value='#b2ec5d') Inchworm
    option(value='#4c516d') Independence
    option(value='#138808') India Green
    option(value='#cd5c5c') Indian Red
    option(value='#e3a857') Indian Yellow
    option(value='#4b0082') Indigo (Web)
    option(value='#091f92') Indigo Dye
    option(value='#ff496c') Infra Red
    option(value='#360ccc') Interdimensional Blue
    option(value='#002fa7') International Klein Blue
    option(value='#ff4f00') International Orange (Aerospace)
    option(value='#ba160c') International Orange (Engineering)
    option(value='#c0362c') International Orange (Golden Gate Bridge)
    option(value='#5a4fcf') Iris
    option(value='#b3446c') Raspberry Rose
    option(value='#f4f0ec') Isabelline
    option(value='#009000') Islamic Green
    option(value='#fffff0') Ivory
    option(value='#00a86b') Jade
    option(value='#9d2933') Japanese Carmine
    option(value='#264348') Japanese Indigo
    option(value='#5b3256') Japanese Violet
    option(value='#f8de7e') Mellow Yellow
    option(value='#d73b3e') Jasper
    option(value='#a50b5e') Jazzberry Jam
    option(value='#da614e') Jelly Bean
    option(value='#343434') Jet
    option(value='#f4ca16') Jonquil
    option(value='#8ab9f1') Jordy Blue
    option(value='#bdda57') June Bud
    option(value='#29ab87') Jungle Green
    option(value='#4cbb17') Kelly Green
    option(value='#7c1c05') Kenyan Copper
    option(value='#3ab09e') Keppel
    option(value='#e8f48c') Key Lime
    option(value='#c3b091') Khaki (HTML/CSS) (Khaki)
    option(value='#f0e68c') Light Khaki
    option(value='#8ee53f') Kiwi
    option(value='#882d17') Sienna
    option(value='#e79fc4') Kobi
    option(value='#354230') Kombu Green
    option(value='#512888') KSU Purple
    option(value='#e8000d') KU Crimson
    option(value='#087830') La Salle Green
    option(value='#d6cadd') Languid Lavender
    option(value='#26619c') Lapis Lazuli
    option(value='#ffff66') Unmellow Yellow
    option(value='#a9ba9d') Laurel Green
    option(value='#cf1020') Lava
    option(value='#b57edc') Lavender (Floral)
    option(value='#e6e6fa') Lavender Mist
    option(value='#ccccff') Periwinkle
    option(value='#fff0f5') Lavender Blush
    option(value='#c4c3d0') Lavender Gray
    option(value='#9457eb') Navy Purple
    option(value='#ee82ee') Violet (Web)
    option(value='#fbaed2') Lavender Pink
    option(value='#967bb6') Lavender Purple
    option(value='#fba0e3') Lavender Rose
    option(value='#7cfc00') Lawn Green
    option(value='#fff700') Yellow Sunshine
    option(value='#fffacd') Lemon Chiffon
    option(value='#cca01d') Lemon Curry
    option(value='#fdff00') Lemon Glacier
    option(value='#e3ff00') Lemon Lime
    option(value='#f6eabe') Lemon Meringue
    option(value='#fff44f') Lemon Yellow
    option(value='#1a1110') Licorice
    option(value='#545aa7') Liberty
    option(value='#add8e6') Light Blue
    option(value='#b5651d') Light Brown
    option(value='#e66771') Light Carmine Pink
    option(value='#88ace0') Light Cobalt Blue
    option(value='#f08080') Light Coral
    option(value='#93ccea') Light Cornflower Blue
    option(value='#f56991') Light Crimson
    option(value='#e0ffff') Light Cyan
    option(value='#ff5ccd') Light Deep Pink
    option(value='#c8ad7f') Light French Beige
    option(value='#f984ef') Light Fuchsia Pink
    option(value='#fafad2') Light Goldenrod Yellow
    option(value='#d3d3d3') Light Gray
    option(value='#cc99cc') Light Grayish Magenta
    option(value='#90ee90') Light Green
    option(value='#ffb3de') Light Hot Pink
    option(value='#d39bcb') Light Medium Orchid
    option(value='#addfad') Light Moss Green
    option(value='#fed8b1') Light Orange
    option(value='#e6a8d7') Light Orchid
    option(value='#b19cd9') Light Pastel Purple
    option(value='#ffb6c1') Light Pink
    option(value='#ffa07a') Light Salmon
    option(value='#ff9999') Light Salmon Pink
    option(value='#20b2aa') Light Sea Green
    option(value='#87cefa') Light Sky Blue
    option(value='#778899') Light Slate Gray
    option(value='#b0c4de') Light Steel Blue
    option(value='#b38b6d') Light Taupe
    option(value='#ffffe0') Light Yellow
    option(value='#c8a2c8') Lilac
    option(value='#ae98aa') Lilac Luster
    option(value='#32cd32') Lime Green
    option(value='#9dc209') Limerick
    option(value='#195905') Lincoln Green
    option(value='#faf0e6') Linen
    option(value='#15f2fd') Loeen (Lopen) Look
    option(value='#6ca0dc') Little Boy Blue
    option(value='#674c47') Medium Taupe
    option(value='#b86d29') Liver (Dogs)
    option(value='#6c2e1f') Liver (Organ)
    option(value='#987456') Liver Chestnut
    option(value='#ffe4cd') Lumber
    option(value='#e62020') Lust
    option(value='#001c3d') Maastricht Blue
    option(value='#ffbd88') Macaroni And Cheese
    option(value='#cc3336') Madder Lake
    option(value='#ca1f7b') Magenta (Dye)
    option(value='#d0417e') Magenta (Pantone)
    option(value='#ff0090') Magenta (Process)
    option(value='#9f4576') Magenta Haze
    option(value='#cc338b') Magenta-Pink
    option(value='#aaf0d1') Magic Mint
    option(value='#ff4466') Magic Potion
    option(value='#f8f4ff') Magnolia
    option(value='#c04000') Mahogany
    option(value='#6050dc') Majorelle Blue
    option(value='#0bda51') Malachite
    option(value='#979aaa') Manatee
    option(value='#f37a48') Mandarin
    option(value='#ff8243') Mango Tango
    option(value='#74c365') Mantis
    option(value='#880085') Mardi Gras
    option(value='#eaa221') Marigold
    option(value='#800000') Maroon (HTML/CSS)
    option(value='#b03060') Rich Maroon
    option(value='#e0b0ff') Mauve
    option(value='#915f6d') Raspberry Glace
    option(value='#ef98aa') Mauvelous
    option(value='#47abcc') Maximum Blue
    option(value='#30bfbf') Maximum Blue Green
    option(value='#acace6') Maximum Blue Purple
    option(value='#5e8c31') Maximum Green
    option(value='#d9e650') Maximum Green Yellow
    option(value='#733380') Maximum Purple
    option(value='#d92121') Maximum Red
    option(value='#a63a79') Maximum Red Purple
    option(value='#fafa37') Maximum Yellow
    option(value='#f2ba49') Maximum Yellow Red
    option(value='#4c9141') May Green
    option(value='#73c2fb') Maya Blue
    option(value='#e5b73b') Meat Brown
    option(value='#66ddaa') Medium Aquamarine
    option(value='#0000cd') Medium Blue
    option(value='#e2062c') Medium Candy Apple Red
    option(value='#af4035') Pale Carmine
    option(value='#f3e5ab') Vanilla
    option(value='#035096') Medium Electric Blue
    option(value='#1c352d') Medium Jungle Green
    option(value='#dda0dd') Plum (Web)
    option(value='#ba55d3') Medium Orchid
    option(value='#0067a5') Sapphire Blue
    option(value='#9370db') Medium Purple
    option(value='#bb3385') Medium Red-Violet
    option(value='#aa4069') Medium Ruby
    option(value='#3cb371') Medium Sea Green
    option(value='#80daeb') Medium Sky Blue
    option(value='#7b68ee') Medium Slate Blue
    option(value='#c9dc87') Medium Spring Bud
    option(value='#00fa9a') Medium Spring Green
    option(value='#48d1cc') Medium Turquoise
    option(value='#d9603b') Medium Vermilion
    option(value='#c71585') Red-Violet
    option(value='#f8b878') Mellow Apricot
    option(value='#fdbcb4') Melon
    option(value='#0a7e8c') Metallic Seaweed
    option(value='#9c7c38') Metallic Sunburst
    option(value='#e4007c') Mexican Pink
    option(value='#7ed4e6') Middle Blue
    option(value='#8dd9cc') Middle Blue Green
    option(value='#8b72be') Middle Blue Purple
    option(value='#210837') Middle Red Purple
    option(value='#4d8c57') Middle Green
    option(value='#acbf60') Middle Green Yellow
    option(value='#d982b5') Middle Purple
    option(value='#e58e73') Middle Red
    option(value='#a55353') Middle Red Purple
    option(value='#ffeb00') Middle Yellow
    option(value='#ecb176') Middle Yellow Red
    option(value='#702670') Midnight
    option(value='#191970') Midnight Blue
    option(value='#004953') Midnight Green (Eagle Green)
    option(value='#ffc40c') Mikado Yellow
    option(value='#fdfff5') Milk
    option(value='#ffdae9') Mimi Pink
    option(value='#e3f988') Mindaro
    option(value='#36747d') Ming
    option(value='#f5e050') Minion Yellow
    option(value='#3eb489') Mint
    option(value='#f5fffa') Mint Cream
    option(value='#98ff98') Mint Green
    option(value='#bbb477') Misty Moss
    option(value='#ffe4e1') Misty Rose
    option(value='#73a9c2') Moonstone Blue
    option(value='#ae0c00') Mordant Red 19
    option(value='#8da399') Morning Blue
    option(value='#8a9a5b') Turtle Green
    option(value='#30ba8f') Mountain Meadow
    option(value='#997a8d') Mountbatten Pink
    option(value='#18453b') MSU Green
    option(value='#306030') Mughal Green
    option(value='#c54b8c') Mulberry
    option(value='#ffdb58') Mustard
    option(value='#317873') Myrtle Green
    option(value='#d65282') Mystic
    option(value='#ad4379') Mystic Maroon
    option(value='#f6adc6') Nadeshiko Pink
    option(value='#2a8000') Napier Green
    option(value='#fada5e') Stil De Grain Yellow
    option(value='#ffdead') Navajo White
    option(value='#000080') Navy
    option(value='#ffa343') Neon Carrot
    option(value='#fe4164') Neon Fuchsia
    option(value='#39ff14') Neon Green
    option(value='#214fc6') New Car
    option(value='#d7837f') New York Pink
    option(value='#727472') Nickel
    option(value='#a4dded') Non-Photo Blue
    option(value='#059033') North Texas Green
    option(value='#e9ffdb') Nyanza
    option(value='#4f42b5') Ocean Blue
    option(value='#0077be') Ocean Boat Blue
    option(value='#48bf91') Ocean Green
    option(value='#cc7722') Ochre
    option(value='#fd5240') Ogre Odor
    option(value='#43302e') Old Burgundy
    option(value='#cfb53b') Old Gold
    option(value='#fdf5e6') Old Lace
    option(value='#796878') Old Lavender
    option(value='#673147') Wine Dregs
    option(value='#867e36') Old Moss Green
    option(value='#c08081') Old Rose
    option(value='#6b8e23') Olive Drab (#3)
    option(value='#3c341f') Olive Drab #7
    option(value='#9ab973') Olivine
    option(value='#353839') Onyx
    option(value='#b784a7') Opera Mauve
    option(value='#ff7f00') Orange (Color Wheel)
    option(value='#ff7538') Orange (Crayola)
    option(value='#ff5800') Orange (Pantone)
    option(value='#fb9902') Orange (RYB)
    option(value='#ffa500') Orange (Web)
    option(value='#ff9f00') Orange Peel
    option(value='#ff4500') Orange-Red
    option(value='#fa5b3d') Orange Soda
    option(value='#f8d568') Orange-Yellow
    option(value='#da70d6') Orchid
    option(value='#f2bdcd') Orchid Pink
    option(value='#fb4f14') Orioles Orange
    option(value='#414a4c') Outer Space
    option(value='#ff6e4a') Outrageous Orange
    option(value='#002147') Oxford Blue
    option(value='#1ca9c9') Pacific Blue
    option(value='#006600') Pakistan Green
    option(value='#273be2') Palatinate Blue
    option(value='#682860') Palatinate Purple
    option(value='#afeeee') Pale Turquoise
    option(value='#987654') Pale Brown
    option(value='#9bc4e2') Pale Cerulean
    option(value='#ddadaf') Pale Chestnut
    option(value='#abcdef') Pale Cornflower Blue
    option(value='#87d3f8') Pale Cyan
    option(value='#e6be8a') Pale Gold
    option(value='#eee8aa') Pale Goldenrod
    option(value='#98fb98') Pale Green
    option(value='#dcd0ff') Pale Lavender
    option(value='#f984e5') Pale Magenta
    option(value='#ff99cc') Pale Magenta-Pink
    option(value='#fadadd') Pale Pink
    option(value='#db7093') Pale Violet-Red
    option(value='#96ded1') Pale Robin Egg Blue
    option(value='#c9c0bb') Pale Silver
    option(value='#ecebbd') Pale Spring Bud
    option(value='#bc987e') Pale Taupe
    option(value='#cc99ff') Pale Violet
    option(value='#6f9940') Palm Leaf
    option(value='#78184a') Pansy Purple
    option(value='#009b7d') Paolo Veronese Green
    option(value='#ffefd5') Papaya Whip
    option(value='#e63e62') Paradise Pink
    option(value='#d998a0') Parrot Pink
    option(value='#aec6cf') Pastel Blue
    option(value='#836953') Pastel Brown
    option(value='#cfcfc4') Pastel Gray
    option(value='#77dd77') Pastel Green
    option(value='#f49ac2') Pastel Magenta
    option(value='#ffb347') Pastel Orange
    option(value='#dea5a4') Pastel Pink
    option(value='#b39eb5') Pastel Purple
    option(value='#ff6961') Pastel Red
    option(value='#cb99c9') Pastel Violet
    option(value='#fdfd96') Pastel Yellow
    option(value='#800080') Purple (HTML)
    option(value='#ffe5b4') Peach
    option(value='#ffcc99') Peach-Orange
    option(value='#ffdab9') Peach Puff
    option(value='#fadfad') Peach-Yellow
    option(value='#d1e231') Pear
    option(value='#eae0c8') Pearl
    option(value='#88d8c0') Pearl Aqua
    option(value='#b768a2') Pearly Purple
    option(value='#e6e200') Peridot
    option(value='#e12c2c') Permanent Geranium Lake
    option(value='#1c39bb') Persian Blue
    option(value='#00a693') Persian Green
    option(value='#32127a') Persian Indigo
    option(value='#d99058') Persian Orange
    option(value='#f77fbe') Persian Pink
    option(value='#701c1c') Prune
    option(value='#cc3333') Persian Red
    option(value='#fe28a2') Persian Rose
    option(value='#ec5800') Persimmon
    option(value='#cd853f') Peru
    option(value='#8ba8b7') Pewter Blue
    option(value='#df00ff') Psychedelic Purple
    option(value='#000f89') Phthalo Blue
    option(value='#123524') Phthalo Green
    option(value='#45b1e8') Picton Blue
    option(value='#c30b4e') Pictorial Carmine
    option(value='#fddde6') Piggy Pink
    option(value='#01796f') Pine Green
    option(value='#563c0d') Pineapple
    option(value='#ffc0cb') Pink
    option(value='#d74894') Pink (Pantone)
    option(value='#fc74fd') Pink Flamingo
    option(value='#ffddf4') Pink Lace
    option(value='#d8b2d1') Pink Lavender
    option(value='#e7accf') Pink Pearl
    option(value='#980036') Pink Raspberry
    option(value='#f78fa7') Pink Sherbet
    option(value='#93c572') Pistachio
    option(value='#391285') Pixie Powder
    option(value='#e5e4e2') Platinum
    option(value='#8e4585') Plum
    option(value='#5946b2') Plump Purple
    option(value='#5da493') Polished Pine
    option(value='#be4f62') Popstar
    option(value='#ff5a36') Portland Orange
    option(value='#b0e0e6') Powder Blue
    option(value='#ff85cf') Princess Perfume
    option(value='#f58025') Princeton Orange
    option(value='#003153') Prussian Blue
    option(value='#cc8899') Puce
    option(value='#722f37') Wine
    option(value='#644117') Pullman Brown (UPS Brown)
    option(value='#3b331c') Pullman Green
    option(value='#ff7518') Pumpkin
    option(value='#9f00c5') Purple (Munsell)
    option(value='#a020f0') Veronica
    option(value='#69359c') Purple Heart
    option(value='#9678b6') Purple Mountain Majesty
    option(value='#4e5180') Purple Navy
    option(value='#fe4eda') Purple Pizzazz
    option(value='#9c51b6') Purple Plum
    option(value='#50404d') Purple Taupe
    option(value='#9a4eae') Purpureus
    option(value='#51484f') Quartz
    option(value='#436b95') Queen Blue
    option(value='#e8ccd7') Queen Pink
    option(value='#a6a6a6') Quick Silver
    option(value='#8e3a59') Quinacridone Magenta
    option(value='#ff355e') Radical Red
    option(value='#242124') Raisin Black
    option(value='#fbab60') Rajah
    option(value='#e30b5d') Raspberry
    option(value='#e25098') Raspberry Pink
    option(value='#d68a59') Raw Sienna
    option(value='#826644') Raw Umber
    option(value='#ff33cc') Razzle Dazzle Rose
    option(value='#e3256b') Razzmatazz
    option(value='#8d4e85') Razzmic Berry
    option(value='#663399') Rebecca Purple
    option(value='#ff0000') Red
    option(value='#ee204d') Red (Crayola)
    option(value='#f2003c') Red (Munsell)
    option(value='#c40233') Red (NCS)
    option(value='#ed1c24') Red (Pigment)
    option(value='#fe2712') Red (RYB)
    option(value='#860111') Red Devil
    option(value='#ff5349') Red-Orange
    option(value='#e40078') Red-Purple
    option(value='#fd3a4a') Red Salsa
    option(value='#a45a52') Redwood
    option(value='#522d80') Regalia
    option(value='#002387') Resolution Blue
    option(value='#777696') Rhythm
    option(value='#004040') Rich Black
    option(value='#010b13') Rich Black (FOGRA29)
    option(value='#010203') Rich Black (FOGRA39)
    option(value='#f1a7fe') Rich Brilliant Lavender
    option(value='#0892d0') Rich Electric Blue
    option(value='#a76bcf') Rich Lavender
    option(value='#b666d2') Rich Lilac
    option(value='#444c38') Rifle Green
    option(value='#00cccc') Robin Egg Blue
    option(value='#8a7f80') Rocket Metallic
    option(value='#838996') Roman Silver
    option(value='#f9429e') Rose Bonbon
    option(value='#9e5e6f') Rose Dust
    option(value='#674846') Rose Ebony
    option(value='#b76e79') Rose Gold
    option(value='#ff66cc') Rose Pink
    option(value='#c21e56') Rose Red
    option(value='#905d5d') Rose Taupe
    option(value='#ab4e52') Rose Vale
    option(value='#65000b') Rosewood
    option(value='#d40000') Rosso Corsa
    option(value='#bc8f8f') Rosy Brown
    option(value='#0038a8') Royal Azure
    option(value='#002366') Royal Blue
    option(value='#4169e1') Royal Blue
    option(value='#ca2c92') Royal Fuchsia
    option(value='#7851a9') Royal Purple
    option(value='#ce4676') Ruber
    option(value='#d10056') Rubine Red
    option(value='#e0115f') Ruby
    option(value='#9b111e') Ruby Red
    option(value='#ff0028') Ruddy
    option(value='#bb6528') Ruddy Brown
    option(value='#e18e96') Ruddy Pink
    option(value='#a81c07') Rufous
    option(value='#80461b') Russet
    option(value='#679267') Russian Green
    option(value='#32174d') Russian Violet
    option(value='#b7410e') Rust
    option(value='#da2c43') Rusty Red
    option(value='#8b4513') Saddle Brown
    option(value='#ff7800') Safety Orange
    option(value='#ff6700') Safety Orange (Blaze Orange)
    option(value='#eed202') Safety Yellow
    option(value='#f4c430') Saffron
    option(value='#bcb88a') Sage
    option(value='#23297a') St. Patrick's Blue
    option(value='#fa8072') Salmon
    option(value='#ff91a4') Salmon Pink
    option(value='#ecd540') Sandstorm
    option(value='#f4a460') Sandy Brown
    option(value='#fdd9b5') Sandy Tan
    option(value='#92000a') Sangria
    option(value='#507d2a') Sap Green
    option(value='#0f52ba') Sapphire
    option(value='#ff4681') Sasquatch Socks
    option(value='#cba135') Satin Sheen Gold
    option(value='#ff2400') Scarlet
    option(value='#fd0e35') Tractor Red
    option(value='#ffd800') School Bus Yellow
    option(value='#66ff66') Screamin' Green
    option(value='#006994') Sea Blue
    option(value='#9fe2bf') Sea Foam Green
    option(value='#2e8b57') Sea Green
    option(value='#4bc7cf') Sea Serpent
    option(value='#59260b') Seal Brown
    option(value='#fff5ee') Seashell
    option(value='#ffba00') Selective Yellow
    option(value='#704214') Sepia
    option(value='#8a795d') Shadow
    option(value='#778ba5') Shadow Blue
    option(value='#ffcff1') Shampoo
    option(value='#009e60') Shamrock Green
    option(value='#8fd400') Sheen Green
    option(value='#d98695') Shimmering Blush
    option(value='#5fa778') Shiny Shamrock
    option(value='#fc0fc0') Shocking Pink
    option(value='#ff6fff') Ultra Pink
    option(value='#c0c0c0') Silver
    option(value='#acacac') Silver Chalice
    option(value='#5d89ba') Silver Lake Blue
    option(value='#c4aead') Silver Pink
    option(value='#bfc1c2') Silver Sand
    option(value='#cb410b') Sinopia
    option(value='#ff3855') Sizzling Red
    option(value='#ffdb00') Sizzling Sunrise
    option(value='#007474') Skobeloff
    option(value='#87ceeb') Sky Blue
    option(value='#cf71af') Sky Magenta
    option(value='#6a5acd') Slate Blue
    option(value='#708090') Slate Gray
    option(value='#299617') Slimy Green
    option(value='#ff6d3a') Smashed Pumpkin
    option(value='#c84186') Smitten
    option(value='#738276') Smoke
    option(value='#832a0d') Smokey Topaz
    option(value='#100c08') Smoky Black
    option(value='#933d41') Smoky Topaz
    option(value='#fffafa') Snow
    option(value='#cec8ef') Soap
    option(value='#893843') Solid Pink
    option(value='#757575') Sonic Silver
    option(value='#9e1316') Spartan Crimson
    option(value='#1d2951') Space Cadet
    option(value='#807532') Spanish Bistre
    option(value='#0070b8') Spanish Blue
    option(value='#d10047') Spanish Carmine
    option(value='#e51a4c') Spanish Crimson
    option(value='#989898') Spanish Gray
    option(value='#009150') Spanish Green
    option(value='#e86100') Spanish Orange
    option(value='#f7bfbe') Spanish Pink
    option(value='#e60026') Spanish Red
    option(value='#4c2882') Spanish Violet
    option(value='#007f5c') Spanish Viridian
    option(value='#8b5f4d') Spicy Mix
    option(value='#0fc0fc') Spiro Disco Ball
    option(value='#a7fc00') Spring Bud
    option(value='#87ff2a') Spring Frost
    option(value='#007bb8') Star Command Blue
    option(value='#4682b4') Steel Blue
    option(value='#cc33cc') Steel Pink
    option(value='#5f8a8b') Steel Teal
    option(value='#4f666a') Stormcloud
    option(value='#e4d96f') Straw
    option(value='#fc5a8d') Strawberry
    option(value='#914e75') Sugar Plum
    option(value='#ff404c') Sunburnt Cyclops
    option(value='#ffcc33') Sunglow
    option(value='#f2f27a') Sunny
    option(value='#e3ab57') Sunray
    option(value='#fd5e53') Sunset Orange
    option(value='#cf6ba9') Super Pink
    option(value='#a83731') Sweet Brown
    option(value='#d2b48c') Tan
    option(value='#f94d00') Tangelo
    option(value='#f28500') Tangerine
    option(value='#ffcc00') USC Gold
    option(value='#fb4d46') Tart Orange
    option(value='#8b8589') Taupe Gray
    option(value='#d0f0c0') Tea Green
    option(value='#008080') Teal
    option(value='#367588') Teal Blue
    option(value='#99e6b3') Teal Deer
    option(value='#00827f') Teal Green
    option(value='#cf3476') Telemagenta
    option(value='#cd5700') Tenne (Tawny)
    option(value='#e2725b') Terra Cotta
    option(value='#d8bfd8') Thistle
    option(value='#fc89ac') Tickle Me Pink
    option(value='#0abab5') Tiffany Blue
    option(value='#e08d3c') Tiger's Eye
    option(value='#dbd7d2') Timberwolf
    option(value='#eee600') Titanium Yellow
    option(value='#ff6347') Tomato
    option(value='#746cc0') Toolbox
    option(value='#ffc87c') Topaz
    option(value='#00755e') Tropical Rain Forest
    option(value='#cda4de') Tropical Violet
    option(value='#0073cf') True Blue
    option(value='#3e8ede') Tufts Blue
    option(value='#ff878d') Tulip
    option(value='#deaa88') Tumbleweed
    option(value='#b57281') Turkish Rose
    option(value='#40e0d0') Turquoise
    option(value='#00ffef') Turquoise Blue
    option(value='#a0d6b4') Turquoise Green
    option(value='#00c5cd') Turquoise Surf
    option(value='#7c4848') Tuscan Red
    option(value='#c09999') Tuscany
    option(value='#8a496b') Twilight Lavender
    option(value='#0033aa') UA Blue
    option(value='#d9004c') UA Red
    option(value='#8878c3') Ube
    option(value='#536895') UCLA Blue
    option(value='#ffb300') UCLA Gold
    option(value='#3cd070') UFO Green
    option(value='#4166f5') Ultramarine Blue
    option(value='#fc6c85') Wild Watermelon
    option(value='#635147') Umber
    option(value='#ffddca') Unbleached Silk
    option(value='#5b92e5') United Nations Blue
    option(value='#b78727') University Of California Gold
    option(value='#7b1113') UP Maroon
    option(value='#ae2029') Upsdell Red
    option(value='#e1ad21') Urobilin
    option(value='#004f98') USAFA Blue
    option(value='#f77f00') University Of Tennessee Orange
    option(value='#d3003f') Utah Crimson
    option(value='#664228') Van Dyke Brown
    option(value='#f38fa9') Vanilla Ice
    option(value='#c5b358') Vegas Gold
    option(value='#c80815') Venetian Red
    option(value='#43b3ae') Verdigris
    option(value='#d9381e') Vermilion
    option(value='#74bbfb') Very Light Azure
    option(value='#6666ff') Very Light Blue
    option(value='#64e986') Very Light Malachite Green
    option(value='#ffb077') Very Light Tangelo
    option(value='#ffdfbf') Very Pale Orange
    option(value='#ffffbf') Very Pale Yellow
    option(value='#7f00ff') Violet (Color Wheel)
    option(value='#8601af') Violet (RYB)
    option(value='#324ab2') Violet-Blue
    option(value='#f75394') Violet-Red
    option(value='#009698') Viridian Green
    option(value='#7c9ed9') Vista Blue
    option(value='#cc9900') Vivid Amber
    option(value='#922724') Vivid Auburn
    option(value='#9f1d35') Vivid Burgundy
    option(value='#da1d81') Vivid Cerise
    option(value='#00aaee') Vivid Cerulean
    option(value='#cc0033') Vivid Crimson
    option(value='#ff9900') Vivid Gamboge
    option(value='#a6d608') Vivid Lime Green
    option(value='#00cc33') Vivid Malachite
    option(value='#b80ce3') Vivid Mulberry
    option(value='#ff5f00') Vivid Orange
    option(value='#ffa000') Vivid Orange Peel
    option(value='#cc00ff') Vivid Orchid
    option(value='#ff006c') Vivid Raspberry
    option(value='#f70d1a') Vivid Red
    option(value='#df6124') Vivid Red-Tangelo
    option(value='#00ccff') Vivid Sky Blue
    option(value='#f07427') Vivid Tangelo
    option(value='#ffa089') Vivid Tangerine
    option(value='#e56024') Vivid Vermilion
    option(value='#9f00ff') Vivid Violet
    option(value='#ffe302') Vivid Yellow
    option(value='#ceff00') Volt
    option(value='#34b233') Wageningen Green
    option(value='#004242') Warm Black
    option(value='#a4f4f9') Waterspout
    option(value='#7c98ab') Weldon Blue
    option(value='#645452') Wenge
    option(value='#f5deb3') Wheat
    option(value='#ffffff') White
    option(value='#a2add0') Wild Blue Yonder
    option(value='#d470a2') Wild Orchid
    option(value='#ff43a4') Wild Strawberry
    option(value='#fd5800') Willpower Orange
    option(value='#a75502') Windsor Tan
    option(value='#ff007c') Winter Sky
    option(value='#a0e6ff') Winter Wizard
    option(value='#56887d') Wintergreen Dream
    option(value='#c9a0dc') Wisteria
    option(value='#738678') Xanadu
    option(value='#0f4d92') Yale Blue
    option(value='#1c2841') Yankees Blue
    option(value='#ffff00') Yellow
    option(value='#fce883') Yellow (Crayola)
    option(value='#efcc00') Yellow (Munsell)
    option(value='#fedf00') Yellow (Pantone)
    option(value='#fefe33') Yellow (RYB)
    option(value='#9acd32') Yellow-Green
    option(value='#ffae42') Yellow Orange
    option(value='#fff000') Yellow Rose
    option(value='#0014a8') Zaffre
    option(value='#2c1608') Zinnwaldite Brown
    option(value='#39a78e') Zomp