extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Option Picker'

block script
  script
    | const picker = new OptionPicker(document.querySelector('select'), {
    |     min: 3
    | });
    |
    | picker.on('max.options', function (count, max) {
    |     alert('The maximum number of options to select is ' + max + ', your current selection is ' + count + '.');
    | });
    |
    | picker.on('min.options', function (count, min) {
    |     alert('The minimum number of options to select is ' + min + ', your current selection is ' + count + '.');
    | });

block style
  style
    | .option-picker__options {
    |   background: #fff;
    | }

block content
  main
    form(method='get' target='_blank')
      p
        select(multiple name='test[]')
          option Option 1
          option Option 2
          option Option 3
          option Option 4
          option Option 5
          option Option 6
          option Option 7
          option(disabled) Option 8
          option Option 9
      p
        button(type='submit') Submit