extends ../_index.pug

block state
  - const scripts = ['../index.js']
  - const styles = ['../index.min.css']
  - const title = 'Option Picker'

block script
  script
    | const pickerInput = new OptionPicker(document.querySelector('input[list]'), {
    |     options: function (query) {
    |         return fetch('https://potterapi-fedeperin.vercel.app/en/spells' + (null !== query ? '?search=' + encodeURIComponent(query) : '?max=10')).then(r => r.json()).then(data => {
    |             const options = new Map;
    |             data.forEach(v => options.set(v.spell, v.spell));
    |             return options;
    |         });
    |     }
    | });
    |
    | const pickerSelect = new OptionPicker(document.querySelector('select'), {
    |     options: function (query) {
    |         return fetch('https://latest.currency-api.pages.dev/v1/currencies/usd.json').then(r => r.json()).then(data => {
    |             const options = new Map;
    |             let k, v;
    |             for (k in data.usd) {
    |                 v = data.usd[k];
    |                 options.set(k, [k.toUpperCase(), {
    |                     selected: 'usd' === k,
    |                     title: v
    |                 }]);
    |             }
    |             return options;
    |         });
    |     }
    | });
    |
    | pickerInput.on('change', function () {
    |     console.log('change: ' + JSON.stringify(this.value));
    | });
    |
    | pickerInput.on('load', function () {
    |     console.log('load: true');
    | });
    |
    | pickerInput.on('search', function (e, query) {
    |     console.log('search: ' + JSON.stringify(query));
    | });
    |
    | pickerSelect.on('change', function () {
    |     console.log('change: ' + JSON.stringify(this.value));
    | });
    |
    | pickerSelect.on('load', function () {
    |     console.log('load: true');
    | });

block style
  style
    | .option-picker {
    |   min-width: 10em;
    | }
    | .option-picker__options {
    |   background: #fff;
    | }
    | .option-picker[aria-busy] .option-picker__text,
    | .option-picker[aria-busy] .option-picker__value {
    |   background: transparent url('data:image/gif;base64,R0lGODlhEgAEAKEAAH9/fwAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJDwACACwAAAAAEgAEAAACB5SPqcvtrwoAIfkECQ8AAgAsAAAAAAQABAAAAgSEjwkFACH5BAkPAAIALAAAAAALAAQAAAIMjCMJC4fKXBKsnVkLACH5BAkPAAIALAAAAAASAAQAAAIRjCN5mOCwkojt0Xnkg1l1sRUAIfkECQ8AAgAsAAAAABIABAAAAhGEIRkbKRwOUsxBaStdeDdfAAAh+QQJDwACACwHAAAACwAEAAACDIQhGRuHylwSrJ1ZCwAh+QQFDwACACwOAAAABAAEAAACBISPCQUAOw==') no-repeat calc(100% - 0.5em) 50%;
    |   padding-right: 2.5em;
    | }

block content
  main
    form(method='get' target='_blank')
      p: a(href='https://github.com/fawazahmed0/exchange-api' rel='nofollow' target='_blank') fawazahmed0/exchange-api
      p
        select(name='test-1')
          option(disabled selected) Loading&hellip;
      p: a(href='https://github.com/fedeperin/potterapi' rel='nofollow' target='_blank') fedeperin/potterapi
      p
        input(list='test-2' name='test-2' type='text')
      p
        button(type='submit') Submit
  datalist(id='test-2')