extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Option Picker'

block script
  script
    | const picker = new OptionPicker(document.querySelector('input'));
    |
    | picker.vital = document.querySelector('input[type=checkbox]').checked;
    |
    | picker.on('min.options', function (count, min) {
    |     console.error('The minimum number of options that must be selected to be able to submit the form is ' + min + '.');
    | });

block style
  style
    | .option-picker {
    |   min-width: 10em;
    | }
    | .option-picker__options {
    |   background: #fff;
    | }

block content
  main
    form(method='get' target='_blank')
      p: input(list='options' name='test' required type='text')
      p
        label
          input(checked onchange='picker.vital = this.checked;' type='checkbox')
          = ' '
          span Required
      p
        button(type='submit') Submit
        = ' '
        button(type='reset') Reset
  datalist(id='options')
    option Option 1
    option Option 2
    option(value='3') Option 3