extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Option Picker'

block script
  script
    | document.querySelectorAll('input[list], select').forEach(v => new OptionPicker(v));

block style
  style
    | .option-picker__options {
    |   background: #fff;
    | }

block content
  main
    p
      select
        option Option 1
        option(selected) Option 2
        option Option 3
    p
      select(multiple)
        option Option 1
        option(selected) Option 2
        option(selected) Option 3
        option Option 4
        option Option 5
    p
      select(multiple size='3')
        option Option 1
        option(selected) Option 2
        option(selected) Option 3
        option Option 4
        option Option 5
    p
      input(list='options' type='text' value='Option 2')
  datalist#options
    option Option 1
    option Option 2
    option Option 3
    option Option 4
    option Option 5