$name: 'option-picker';

%item {
  align-items: center;
  border: 1px solid;
  border-color: inherit;
  display: flex;
  gap: 0.25em;
  padding: 0 0.25em;
}

%items {
  border-color: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding: 1px;
}

.#{$name} {
  &,
  & * {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    outline: 0;
  }
}

.#{$name} {
  border: 1px solid;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  vertical-align: middle;
  &--focus {
    .#{$name}__value {
      background: rgba(0, 0, 255, 0.5);
      outline: 1px solid;
      outline-offset: -2px;
    }
  }
  &--open {
    z-index: 9999;
    .#{$name}__arrow {
      &::after {
        border: {
          bottom: 0.5em solid;
          bottom-color: inherit;
          top-width: 0;
        }
      }
    }
    .#{$name}__options {
      visibility: visible;
    }
  }
  &__arrow,
  &__text,
  &__value {
    @extend %item;
    overflow: hidden;
    position: relative;
  }
  &__arrow {
    &::after {
      border: {
        left: 0.25em solid transparent;
        right: 0.25em solid transparent;
        top: 0.5em solid;
        top-color: inherit;
      }
      content: "";
      height: 0;
      width: 0;
    }
  }
  &__self {
    left: -9999px;
    position: fixed;
    top: -9999px;
    &:disabled {
      + .#{$name} {
        color: rgba(128, 128, 128);
      }
      + .#{$name} {
        &,
        & * {
          cursor: not-allowed;
        }
      }
    }
  }
  &__option {
    @extend %item;
    display: block;
    &[hidden] {
      display: none;
    }
    &--disabled {
      color: rgb(128, 128, 128);
      cursor: not-allowed;
    }
    &--selected {
      background: rgba(0, 0, 255, 0.5);
    }
    &:focus,
    &:where(:not(.#{$name}__option--disabled)):hover {
      outline: 1px solid;
      outline-offset: -2px;
    }
    &-group {
      @extend %items;
      border: inherit;
      flex-direction: column;
      &::before {
        @extend %item;
        content: attr(data-value);
        font-weight: bold;
      }
    }
  }
  &__options {
    @extend %items;
    border: inherit;
    flex: {
      direction: column;
      wrap: nowrap;
    }
    left: -1px;
    margin: 0;
    min-width: calc(100% + 2px);
    overflow: auto;
    position: absolute;
    top: 100%;
    visibility: hidden;
    white-space: nowrap;
    &[hidden] {
      display: none;
    }
    &:empty {
      display: none;
    }
  }
  &__text {
    cursor: text;
    flex: 1;
    span {
      flex: 1;
      position: relative;
      z-index: 1;
      * {
        display: inline; // Remove (hide) line-break in text box
      }
      br {
        display: none;
      }
      + span {
        bottom: 0;
        left: 0;
        opacity: 0.5;
        padding: inherit;
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
        z-index: 0;
      }
    }
  }
  &__value {
    flex: 1;
  }
  &__values {
    @extend %items;
    flex: 1;
  }
  &[data-size] {
    .#{$name}__arrow {
      display: none;
    }
    .#{$name}__option-group {
      border-width: 1px;
    }
    .#{$name}__options {
      border-width: 0;
      min-width: 0;
      padding-top: 0;
      position: static;
      visibility: visible;
    }
  }
}