$name: 'option-picker';

%item {
  border: 1px solid;
  display: flex;
  gap: 0.25em;
  padding: 0 0.25em;
}

%items {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding: 1px;
}

.#{$name} {
  &,
  & * {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    outline: 0;
  }
}

.#{$name} {
  border: 1px solid;
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  vertical-align: middle;
  &--focus {
    .#{$name}__value {
      outline: 1px solid;
      outline-offset: -2px;
    }
  }
  &--open {
    z-index: 9999;
    .#{$name}__options {
      display: flex;
    }
  }
  &__self {
    left: -9999px;
    position: fixed;
    top: -9999px;
    &:disabled {
      + .#{$name} {
        color: rgba(128, 128, 128);
      }
      + .#{$name} {
        &,
        & * {
          cursor: not-allowed;
        }
      }
    }
  }
  &__option {
    @extend %item;
    display: block;
    &--disabled {
      color: rgb(128, 128, 128);
      cursor: not-allowed;
    }
    &--selected {
      background: rgba(0, 0, 255, 0.5);
    }
    &:focus {
      outline: 1px solid;
      outline-offset: -2px;
    }
  }
  &__options {
    @extend %items;
    background: #fff;
    border: inherit;
    display: none;
    flex-direction: column;
    left: -1px;
    position: absolute;
    top: 100%;
    white-space: nowrap;
  }
  &__text,
  &__value {
    @extend %item;
    overflow: hidden;
    position: relative;
  }
  &__text {
    cursor: text;
    flex: 1;
    span {
      flex: 1;
      position: relative;
      z-index: 1;
      * {
        display: inline; // Remove (hide) line-break in text box
      }
      br {
        display: none;
      }
      + span {
        bottom: 0;
        left: 0;
        opacity: 0.5;
        padding: inherit;
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
        z-index: 0;
      }
    }
  }
  &__values {
    @extend %items;
  }
}