extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Option Picker'

block script
  script
    | document.querySelectorAll('select').forEach(select => new OptionPicker(select));

block style
  style
    | .option-picker__options {
    |   background: #fff;
    | }
    |
    | .option-picker__options::before {
    |   background: #ff0;
    |   border: inherit;
    |   padding: 0 0.25em;
    | }
    |
    | [name='year'] + .option-picker .option-picker__options::before {
    |   content: 'Year';
    | }
    |
    | [name='month'] + .option-picker .option-picker__options::before {
    |   content: 'Month';
    | }
    |
    | [name='day'] + .option-picker .option-picker__options::before {
    |   content: 'Day';
    | }
    |
    | [name='hour'] + .option-picker .option-picker__options::before {
    |   content: 'Hour';
    | }
    |
    | [name='minute'] + .option-picker .option-picker__options::before {
    |   content: 'Minute';
    | }
    |
    | [name='second'] + .option-picker .option-picker__options::before {
    |   content: 'Second';
    | }

block content
  main
    form(method='get' target='_blank')
      p
        select(name='year')
          option 1970
          option 1971
          option 1972
          option 1973
          option 1974
          option 1975
          option 1976
          option 1977
          option 1978
          option 1979
          option 1980
          option 1981
          option 1982
          option 1983
          option 1984
          option 1985
          option 1986
          option 1987
          option 1988
          option 1989
          option 1990
          option 1991
          option 1992
          option 1993
          option 1994
          option 1995
          option 1996
          option 1997
          option 1998
          option 1999
          option 2000
          option 2001
          option 2002
          option 2003
          option 2004
          option 2005
          option 2006
          option 2007
          option 2008
          option 2009
          option 2010
          option 2011
          option 2012
          option 2013
          option 2014
          option 2015
          option 2016
          option 2017
          option 2018
          option 2019
          option 2020
          option 2021
          option 2022
          option 2023
          option 2024
          option 2025
        = ' '
        select(name='month')
          option(value='01') January
          option(value='02') February
          option(value='03') March
          option(value='04') April
          option(value='05') May
          option(value='06') June
          option(value='07') July
          option(value='08') August
          option(value='09') September
          option(value='10') October
          option(value='11') November
          option(value='12') December
        = ' '
        select(name='day')
          option 01
          option 02
          option 03
          option 04
          option 05
          option 06
          option 07
          option 08
          option 09
          option 10
          option 11
          option 12
          option 13
          option 14
          option 15
          option 16
          option 17
          option 18
          option 19
          option 20
          option 21
          option 22
          option 23
          option 24
          option 25
          option 26
          option 27
          option 28
          option 29
          option 30
          option 31
        = ' '
        select(name='hour')
          option 00
          option 01
          option 02
          option 03
          option 04
          option 05
          option 06
          option 07
          option 08
          option 09
          option 10
          option 11
          option 12
          option 13
          option 14
          option 15
          option 16
          option 17
          option 18
          option 19
          option 20
          option 21
          option 22
          option 23
        = ' '
        select(name='minute')
          option 00
          option 01
          option 02
          option 03
          option 04
          option 05
          option 06
          option 07
          option 08
          option 09
          option 10
          option 11
          option 12
          option 13
          option 14
          option 15
          option 16
          option 17
          option 18
          option 19
          option 20
          option 21
          option 22
          option 23
          option 24
          option 25
          option 26
          option 27
          option 28
          option 29
          option 30
          option 31
          option 32
          option 33
          option 34
          option 35
          option 36
          option 37
          option 38
          option 39
          option 40
          option 41
          option 42
          option 43
          option 44
          option 45
          option 46
          option 47
          option 48
          option 49
          option 50
          option 51
          option 52
          option 53
          option 54
          option 55
          option 56
          option 57
          option 58
          option 59
          option 60
      p
        button(type='submit') Submit