extends ../_index.pug

block state
  - const title = 'Option Picker'
  - const scripts = ['../index.js']
  - const styles = ['../index.min.css']

block script
  script
    | const sources = document.querySelectorAll('input');
    | sources.forEach(source => new OP(source));

block content
  main
    form(method='get' target='_blank')
      p
        input(list='list-0' name='test-0' placeholder='Select color…' type='text' value='Blue')
        datalist#list-0
          option Green
          option Red
          option Blue
      p
        input(list='list-1' name='test-1' placeholder='Select name…' type='text')
        datalist#list-1
          option Abbie Matthews
          option Akira Horton
          option Aldo Wilcox
          option Alexa Perez
          option Alexandra Barnes
          option Alina Dominguez
          option Alyssa Cardenas
          option Amari Holland
          option Andrew Barrett
          option Andy Randolph
          option Anna Arias
          option April Donovan
          option Ariana Hatfield
          option Armani Horn
          option Aron Bowen
          option Athena Hood
          option Aubrey Phillips
          option Austin Collier
          option Ayana Cline
          option Azaria Bonilla
          option Barbara Holder
          option Beau Stuart
          option Beckett Castro
          option Belinda Reilly
          option Brady Jarvis
          option Braelyn Barrera
          option Braelyn Simmons
          option Brandon Montoya
          option Brayan Peck
          option Brian Moyer
          option Brianna Mueller
          option Britney Wong
          option Broderick Giles
          option Brodie Smith
          option Brogan Stokes
          option Cadence Vargas
          option Caiden Woods
          option Camila Reid
          option Camille Whitney
          option Camron Mcdaniel
          option Cara Murray
          option Carlo Norton
          option Carsen Dennis
          option Carter Pruitt
          option Cash Patterson
          option Caylee Castaneda
          option Charlie Avery
          option Charlie Werner
          option Chaya Chambers
          option Chris Mcneil
          option Dante Rivera
          option Davis House
          option Dayana Kelly
          option Derek Fowler
          option Devin Conley
          option Devin Moyer
          option Devin Velasquez
          option Dixie Acosta
          option Dominique Castro
          option Edith Arellano
          option Elaina Beck
          option Elias Griffin
          option Ella Cole
          option Elle French
          option Emerson King
          option Emerson Valencia
          option Emilie Booker
          option Emilie Wilkinson
          option Fatima Hodges
          option Fatima Mcbride
          option Gavin Brewer
          option Genesis Houston
          option Gilberto Andersen
          option Gunnar Bray
          option Hadley Duke
          option Hadley Lucas
          option Halle Potts
          option Hanna Mcneil
          option Harper Thompson
          option Hayden Burnett
          option Hayden Snow
          option Hayley Cummings
          option Hillary Hurley
          option Isabela Mitchell
          option Isabell Peck
          option Isai Goodwin
          option Ivan Holland
          option Ivy Carney
          option Jacey Williamson
          option Jamal Frost
          option Jamison Ballard
          option Jase Stevens
          option Jaslyn Hatfield
          option Jason Mata
          option Jaxson Sellers
          option Jay Barajas
          option Jaylee Durham
          option Jaylen Cannon
          option Jenny Bishop
          option Joanna Welch
          option Jolie Patel
          option Jonah Hanna
          option Joy Rocha
          option Joyce Curtis
          option Julie Beltran
          option Kaden Mayo
          option Kaiya Larsen
          option Kameron Shaw
          option Kamren Flores
          option Karlee Weaver
          option Karli Davenport
          option Karly Wiggins
          option Kash Ayers
          option Kash Lowery
          option Katelynn Zavala
          option Kayden Pugh
          option Kaylynn Parks
          option Keaton Mcmahon
          option Kelvin Knapp
          option Kendra Chase
          option Kendrick Collier
          option Khalil Payne
          option Kierra Hahn
          option Kiersten Conner
          option Kimora Bray
          option Kolten Hunter
          option Konnor Trujillo
          option Kristian Deleon
          option Kyla Landry
          option Kylee Bartlett
          option Kylie Buckley
          option Lana Hunt
          option Leonidas Faulkner
          option Leyla Barnett
          option Leyla Cooley
          option Liam Delgado
          option Lillianna Walker
          option Logan Mckay
          option Lucas Ferrell
          option Luciana Reed
          option Lucille Banks
          option Luke Frye
          option Luz Daniel
          option Macey Hooper
          option Maeve Stevenson
          option Maggie Barajas
          option Marely Norton
          option Mariela Hayden
          option Marisa Peck
          option Mariyah Fischer
          option Mattie Pierce
          option Maya Guerrero
          option Mckinley Dunlap
          option Misael Murray
          option Moises Castaneda
          option Moriah Kramer
          option Nathen Suarez
          option Nickolas Bryan
          option Nolan Campbell
          option Nylah Lawson
          option Oscar Bryan
          option Peyton Bowman
          option Raina Holland
          option Raymond Buckley
          option Renee Chang
          option Rhett Pace
          option Riley Short
          option Riya Hendricks
          option Roderick Vang
          option Rohan Horne
          option Rose Mack
          option Roselyn Stevens
          option Rudy Sanford
          option Rylee Day
          option Rylee Heath
          option Ryleigh Lang
          option Ryleigh Richmond
          option Sage Sampson
          option Serenity Williams
          option Shania Orozco
          option Shelby Galloway
          option Sidney Landry
          option Skyler Jones
          option Sloane Curtis
          option Sonia Shea
          option Steve Walls
          option Tabitha Price
          option Talan Rangel
          option Tara Terry
          option Teagan Bullock
          option Tiana Salas
          option Tiffany Lambert
          option Trenton Melendez
          option Valentin Farmer
          option William Montgomery
          option Xiomara Bryan
          option Yadira Yoder
          option Yosef Hoover
          option Yoselin Richard
          option Zander Curry
      p
        input(list='list-2' name='test-2' placeholder='Test empty…' type='text')
      p
        button(type='submit') Submit