extends ../_index.pug

block state
  - const title = 'Option Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new OP(document.querySelector('select'));

block content
  main
    p Press #[kbd Control] key while clicking on the available options to select more than one option. #[code multiple] attribute needs to be added to the #[code &lt;select&gt;] element to enable this feature.
    form(method='get' target='_blank')
      p
        select(multiple name='test[]' size='4')
          option Option 1
          option Option 2
          option Option 3
          option Option 4
          option Option 5
      p
        button(type='submit') Submit