$name: 'option-picker';

%item {
  align-items: center;
  border: 1px solid;
  border-color: inherit;
  display: flex;
  gap: 0.25em;
  padding: 0 0.25em;
}

%items {
  border-color: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding: 1px;
}

.#{$name} {
  &,
  & * {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    outline: 0;
  }
}

.#{$name} {
  border: 1px solid;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  vertical-align: middle;
  &[aria-disabled='true'] {
    color: rgba(128, 128, 128);
    cursor: not-allowed;
    * {
      pointer-events: none;
    }
    .#{$name}__option[aria-selected='true'],
    .#{$name}__value[aria-selected='true'] {
      background: rgba(0, 0, 255, 0.25);
    }
  }
  &[aria-expanded='true'] {
    &:not([data-size]):not([data-size='1']) {
      z-index: 9999;
    }
    .#{$name}__arrow {
      &::after {
        border: {
          bottom: 0.5em solid;
          bottom-color: inherit;
          top-width: 0;
        }
      }
    }
    .#{$name}__options {
      visibility: visible;
    }
  }
  &__arrow,
  &__text,
  &__value {
    @extend %item;
    overflow: hidden;
    position: relative;
  }
  &__arrow {
    user-select: none;
    &::after {
      border: {
        left: 0.25em solid transparent;
        right: 0.25em solid transparent;
        top: 0.5em solid;
        top-color: inherit;
      }
      content: "";
      height: 0;
      width: 0;
    }
  }
  &__flex {
    @extend %items;
    flex: 1;
  }
  &__option {
    @extend %item;
    display: block;
    user-select: none;
    &[hidden] {
      display: none;
    }
    &[aria-disabled='true'] {
      color: rgb(128, 128, 128);
      cursor: not-allowed;
    }
    &[aria-selected='true'] {
      background: rgba(0, 0, 255, 0.5);
      &[aria-disabled='true'] {
        background: rgba(0, 0, 255, 0.25);
      }
    }
    &:focus,
    &:where(:not([aria-disabled='true'])):hover {
      outline: 1px solid;
      outline-offset: -2px;
    }
  }
  &__options {
    @extend %items;
    border: inherit;
    flex: {
      direction: column;
      wrap: nowrap;
    }
    left: -1px;
    margin: 0;
    max-height: 0;
    min-width: calc(100% + 2px);
    position: absolute;
    top: 100%;
    visibility: hidden;
    white-space: nowrap;
    &[hidden] {
      display: none;
    }
    &:empty {
      display: none;
    }
    &-batch {
      @extend %items;
      border: {
        color: inherit;
        style: inherit;
        width: 1px;
      }
      flex-direction: column;
      &::before {
        @extend %item;
        content: attr(data-value);
        font-weight: bold;
        user-select: none;
      }
    }
    &-lot {
      @extend %items;
      border: {
        color: inherit;
        style: inherit;
        width: 0;
      }
      display: flex;
      flex: {
        direction: column;
        wrap: nowrap;
      }
      gap: inherit;
      overflow: auto;
      padding: 0;
    }
  }
  &__self {
    left: -9999px;
    position: fixed;
    top: -9999px;
  }
  &__text {
    border-color: transparent;
    cursor: text;
    flex: 1;
    span {
      flex: 1;
      position: relative;
      z-index: 1;
      &:empty {
        &::after {
          content: '‌'; // `\u200c`
        }
      }
      * {
        display: inline; // Remove (hide) line-break in text box
      }
      br {
        display: none;
      }
      + span {
        bottom: 0;
        left: 0;
        opacity: 0.5;
        padding: inherit;
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
        z-index: 0;
      }
    }
  }
  &__value {
    flex: 1;
    user-select: none;
    &[aria-selected='true'] {
      background: rgba(0, 0, 255, 0.5);
      &[aria-disabled='true'] {
        background: rgba(0, 0, 255, 0.25);
      }
    }
    &:empty {
      &::after {
        content: '‌'; // `\u200c`
      }
    }
    &:focus {
      outline: 1px solid;
      outline-offset: -2px;
    }
  }
  &[data-size] {
    .#{$name}__arrow {
      display: none;
    }
    .#{$name}__options {
      border-width: 0;
      min-width: 0;
      padding-top: 0;
      position: static;
      visibility: visible;
    }
  }
}