extends _index.pug

block state
  - const title = 'Option Picker'
  - const scripts = ['index.min.js']
  - const styles = ['index.min.css']

block script
  script
    | const picker = new OptionPicker(document.querySelector('select'));

block style
  style
    | :root {
    |   min-height: 3000px;
    | }
    | main {
    |  margin-top: 1500px;
    | }
    | .option-picker {
    |   width: 100%;
    | }
    | .option-picker__options {
    |   background: #fff;
    | }

block content
  main
    p
      select
        option Option 1
        option Option 2
        option Option 3
        option Option 4
        option Option 5
        option Option 6
        option Option 7
        option Option 8
        option Option 9
        option Option 10
        option Option 11
        option Option 12
        option Option 13
        option Option 14
        option Option 15
        option Option 16
        option Option 17
        option Option 18
        option Option 19
        option Option 20
        option Option 21
        option Option 22
        option Option 23
        option Option 24
        option Option 25